@use "../abstract/" as *;
@use "../base/" as *;

// CHEFS LIST
.chefs {
  &__wrapper {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__title {
    h2 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  &__list {
    img {
      border-radius: 1.5rem;
    }
  }
  &__name {
    text-align: center;
    h4 {
      font-size: 1.5rem;
    }
    p {
      color: $clr--secondary;
      font-weight: 600;
    }
  }
}
