@use "../abstract/" as *;
@use "../base/" as *;
// banner
.banner {
  background-color: $clr--dark;
  padding: 10rem 0;
  &__wrapper {
    flex-direction: column;
    @include centerAll;
    h4 {
      color: $clr--secondary;
      font-weight: 200;
      letter-spacing: 0.5rem;
      margin-bottom: 2rem;
    }
    h1 {
      color: $clr--light;
      font-family: $font-secondary;
      text-shadow: -2px -2px $clr--secondary;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }
  &__button {
    @include between;
    gap: 1rem;
  }
}

// SPECIAL MENU

.menu {
  &__title {
    @include centerAll;
    flex-direction: column;
    margin-bottom: 2rem;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      font-family: $font-secondary;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    place-content: center;
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
    }
  }
  &__list {
    padding: 2rem 1rem;
    text-align: center;
    border: 2px solid transparent;

    &:hover {
      border: 2px solid $clr--secondary;
      border-radius: 2rem;
    }
    img {
      width: 17rem;
    }
  }
  &__details p {
    color: $clr--secondary;
  }
}

// ABOUT
.about {
  background-image: url(../../IMG/about.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  padding: 13rem 0;
  &__details {
    max-width: 40rem;
    h4 {
      margin-bottom: 2rem;
      font-family: $font-secondary;
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

// OTHER MENU

.other-menu {
  &__title {
    h2 {
      font-size: 2.5rem;
      font-family: $font-secondary;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.5rem;
      @include mediaQuery(520px) {
        font-size: 1.2rem;
      }
    }
  }
  &__wrapper {
    @include grid(2, 1rem);
    justify-items: center;
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
    }
  }
  &__food {
    ul {
      @include between;
      li {
        color: $clr--secondary;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
    p {
      margin-bottom: 2rem;
    }
  }
}

// BOOK A TABLE
.booking {
  background-color: $clr--primary;
  padding: 10rem 0;
  @include mediaQuery(520px) {
    padding: 2rem 0;
  }
  &__wrapper {
    @include centerAll;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../IMG/book\ a\ table\ bg.jpg);
    @include bg-size;
    height: 120vh;
    @include mediaQuery(520px) {
      background-image: none;
      height: auto;
    }
  }
  &__table {
    padding: 5rem;
    width: 60rem;
    height: 45rem;
    @include mediaQuery(520px) {
      width: 100rem;
      padding: 0;
    }
    h4 {
      font-size: 2rem;
    }
    form {
      border: 1px solid $clr--light;
    }
    input {
      width: 98%;
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: transparent;
      border: 1px solid $clr--secondary;
    }
    textarea {
      @extend input;
      height: 10rem;
    }
    input::placeholder {
      font-family: $font-primary;
      color: $clr--light;
    }
    input:focus,
    input:enabled {
      color: $clr--light;
    }
  }
  &__fnln {
    @include between;
  }
  &__button {
    @include centerAll;
  }
}

// TESTIMONIAL
.testimonial {
  &__wrapper {
    text-align: center;
    max-width: 70rem;
    margin: 0 auto;
  }
  &__slider {
    .tns-outer {
      overflow: hidden;
      max-width: 40rem;

      & > button {
        display: none;
      }
    }

    // .tns-nav {
    //   text-align: center;
    //   button {
    //     margin: 0.5rem;
    //     width: 1.7rem;
    //     height: 1.7rem;
    //     border-radius: 50%;
    //     border: none;
    //   }
    //   .tns-nav-active {
    //     background-color: $clr--dark;
    //   }
    // }
  }
  &__clients {
    i {
      font-size: 2rem;
      margin-bottom: 2rem;
      border: 2px solid $clr--secondary;
      padding: 1.5rem;
      border-radius: 50%;
    }
    p {
      margin-bottom: 1rem;
    }
    h4 {
      font-size: 1.5rem;
      font-weight: 400;
      color: $clr--secondary;
    }
    small {
      font-weight: 600;
    }
  }
}

// VIDEO
.video {
  padding: 5rem 0;
  @include mediaQuery(520px) {
    padding: 2rem 0;
  }
  &__wrapper {
    @include centerAll;
    iframe {
      @include mediaQuery(520px) {
        height: 300px;
      }
    }
  }
}

// BLOG
.blog {
  &__title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 30rem;
    h2 {
      font-family: $font-secondary;
      font-size: 3rem;
    }
    @include mediaQuery(520px) {
      margin-bottom: 5rem;
    }
  }
  &__wrapper {
    @include grid(3, 5rem);
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
    }
  }
  &__card {
    img {
      margin-bottom: 2rem;
      @include mediaQuery(520px) {
        margin-bottom: 0.5rem;
      }
    }

    h4 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      &:hover {
        color: $clr--secondary;
      }
    }
  }
}
