@use "../abstract/" as *;
@use "../base/" as *;

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: rgba(227, 49, 10, 0.1) 0px 4px 12px;
  background-color: $clr--dark;
  padding: 2rem 0;
  &__logo {
    height: 3rem;
    width: 10rem;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav ul {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    li a {
      color: $clr--light;
    }
  }
}
